# Server Port
PORT=3000

# PostgreSQL Database URL (Neon or Local Postgres)
NEON_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

# MongoDB Database Connection String (Atlas or Local Mongo)
MONGODB_URI="mongodb+srv://user:password@cluster.mongodb.net/lynk"

# Secret Key for JWT Authentication
JWT_SEC_KEY="your_super_secret_jwt_key"

# Redis URL (Use redis://redis:6379 in Docker Compose or redis://localhost:6379 on host)
REDIS_URL="redis://localhost:6379"
